@import url('https://fonts.googleapis.com/css2?family=Gloock&family=Jua&family=Phudu:wght@300&family=Song+Myung&display=swap');


.hidden {
    display: none;
}

body {
    margin: 0px;
    padding: 0px;

    color: white;
    font-family: 'Jua', sans-serif;


}
img {
    position:absolute;
    width:100vw;
    height:100vh;
    left: 0px;
    top: 0px;
    right:0px;
    bottom:0px;
    z-index: -1;
    opacity:80%;
    }


#weather {
        background-color: aliceblue;
        width: 100xp;
        
        font-size: 18px;
        color: rgb(40, 38, 38);
        font-weight: bold;

        text-align: center;
    }

.div-clock {
    border: 3px solid green;
    font-size: 17px;  
    font-family: 'Russo One', sans-serif;

    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 100px;
}


.div-login{
    border: 2px solid red;
}


.div-todo{
    border: 3px solid white;
    background-color: black;
    clear:both;
    width: 250px;
    margin: 20px 10px auto auto;
    
}

.div-todo input {
    width:170px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#quote{
    border: 5px solid white;
    background-color: black;
    
    display: flex;
    flex-direction: column;

    text-align: center;
    
    margin-top: 20px;
    padding: 15px;

    box-sizing: border-box;
}

#quote:first-child { 
   
}

#quote:last-child {

}


